


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}

<div class="custom-checkbox" style="border:solid">
    @{
        Html.RenderPartial("_SearchLayout");
    }
</div>


<h2>Index</h2>

